/*-----------------------------
                               |
 * Filename: reset_pwd.css     |
                               |
 * Version: v1.0               |
 * Website: reset_password.php |
 * Author: Ken and Leong       |
                               |
                               |
-------------------------------*/

body{
    font-family: Calibri, sans-serif;
    background-color: white;
}

/* The wrapper to contain the password reset box */
#nav-pwd-reset-wrapper {
    position: absolute;
    min-width: 50%;
    left: 40%;
    top: 20%;
}

/* The wrapper to contain the success password reset box */
#nav-pwd-reset-success-wrapper {
    position: absolute;
    width: 50%;
    left: 40%;
    top: 20%;
    display: none;
}

/* The CSS Design for label selector */
label {
    font-weight: 600;
    font-size: 1.2em;
    padding: 5px 5px 5px 1px;
}

/* The CSS Design for input password field */
input[type=password] {
    font-size: 1.3em;
    margin: 5px 5px 5px 1px;
    padding: 10px 10px 10px 10px;
    width: 50%;
}

/* The CSS Design for input submit button */
input[type=submit]{
    color: dodgerblue;
    padding: 10px 30px 10px 30px;
    margin: 20px 5px 5px 0;
    border-radius: 4px;
    border: 1px solid  dodgerblue;
    outline: none;
    font-weight: 600;
    font-size: inherit;
    background: transparent;
    cursor: pointer;
}

/* The CSS Design for input submit button when it is hover */
input[type=submit]:hover{
    background-color: dodgerblue;
    color: white;
}

/* The button for reset password */
#update_reset_password {
    position: absolute;
    margin-top: 80px;
    left:20%;
}

/* The CSS for error message */
#error-reset-message,
#error-reset-confirm-message{
    color: red;
    font-size: 0.8em;
}

/* The wrapper to contain footer */
#footer{
    color: white;
    font-size: 1.3em;
    position: absolute;
    top: 100%;
    left:-2px;
    width: 100%;
    height: 50%;
    background-color: #aaaaaa;
}

/* The wrapper to contain the footer content */
#footer #footer-wrapper{
    width: 80%;
}

/*The right wrapper of footer content */
#footer #right-wrapper {
    float: right;
}

/*The left wrapper of footer content */
#footer #left-wrapper {
    float:left;
    position: absolute;
    left:25%;
}

/* Desktop size to standard 1500 (devices and browsers) */
@media only screen and (max-width: 1500px) {
    .dropdown-login {
        left: 86%;
    }
}

/* Desktop size to standard 1300 (devices and browsers) */
@media only screen and (max-width: 1300px) {

    #footer {height:100%;}

    #footer #right-wrapper {
        position: absolute;
        float: left;
        top: 50%;
        left: 25%;
    }

    #footer #left-wrapper {
        float: left;
        position: absolute;
        left:25%;
    }
    .dropdown-login {
        left:85%;
    }
}

/* Desktop size to standard 1100 (devices and browsers) */
@media only screen and (max-width: 1100px) {
    .dropdown-login{
        left: 83%;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .dropdown-login {
        width: 230px;
        left: 75%;
    }

    #menu a #main-picture {
        position: absolute;
        left: 0;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .dropdown-login {
        width: 200px;
        left: 71%;
    }
}

@media only screen and (min-width: 280px) and (max-width: 550px) {
    .dropdown-login {
        left: 62%;
    }
    #menu a #main-picture {
        position: absolute;
        left: 0;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .dropdown-login {
        left:54%;
    }
    #menu a #main-picture {
        position: absolute;
        left: 0;
    }
}
